<template id="import-template">
    <el-card>
        <div slot="header">
            <span>数据导入</span>
        </div>
        <el-form :model="uploadData" label-width="100px">
            <el-form-item label="数据源">
                <el-radio-group v-model="uploadData.dataSource">
                    <el-radio label="MYSQL">MySQL</el-radio>
                    <el-radio label="MONGODB">MongoDB</el-radio>
                    <el-radio label="BOTH">MySQL & MongoDB</el-radio>
                </el-radio-group>
            </el-form-item>
            
            <el-form-item label="选择文件">
                <el-upload
                    class="upload-demo"
                    :action="'/api/excel/preview'"
                    :on-change="handleFileChange"
                    :auto-upload="false"
                    :show-file-list="false">
                    <el-button size="small" type="primary">选择文件</el-button>
                    <div slot="tip" class="el-upload__tip">支持 xlsx/xls/csv 格式文件</div>
                </el-upload>
            </el-form-item>
        </el-form>

        <div v-if="previewData.length > 0">
            <h3>数据预览</h3>
            <el-table
                :data="previewData"
                border
                style="width: 100%"
                v-loading="previewLoading">
                <el-table-column
                    v-for="header in previewHeaders"
                    :key="header"
                    :prop="header"
                    :label="header">
                </el-table-column>
            </el-table>
            
            <div style="margin-top: 20px; text-align: center;">
                <el-button type="primary" @click="confirmImport" :loading="importing">
                    确认导入
                </el-button>
                <el-button @click="cancelImport">取消</el-button>
            </div>
        </div>
    </el-card>
</template> 